body {
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #e3e3e3;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(112, 99, 194);
    border-radius: 20px;
    border: 3px solid #e3e3e3;
}