body {
    font-family: Poppins, 'sans-serif' !important;
    color: #fff !important;
    margin: 0;
    overflow-x: hidden !important;
    background-color: #1b2029;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #5F7EB7;
    border-radius: 20px;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}